.App {
  text-align: center;
}

.section{
  background-color: gray;
  padding: 30px;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.addButton, .deleteButton{
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 10px;
}
.deleteButton{
  background-color: red;
}
.card{
  width: 150px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.card p{
  text-align: left;
  width: 100%;
}
span{
  width: 50px;
  float: right;
}